{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de cascos</h1>
<a href="/nuevoCiclismo" class="btn btn-primary">Agregar casco</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Fabricamte</th>
            <th>Material</th>
            <th>Peso</th>
            <th>Caracteristicas</th>
            <th>Estandares de seguridad</th>

        </tr>
    </thead>
    <tbody>
        <script>
            function eliminarCiclismo(id){
                Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "¿Eliminar técnico?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href="/eliminarCiclismo/"+id
                    }
                });
            }
        </script>



        {% for cargoTemporal in cargos %}
        <tr>
            <td>{{ cargoTemporal.id }}</td>
            <td>{{ cargoTemporal.modelo }}</td>
            <td>{{ cargoTemporal.fabricante }}</td>
            <td>{{ cargoTemporal.material }}</td>
            <td>{{ cargoTemporal.peso }}</td>
            <td>{{ cargoTemporal.caracteristicas }}</td>
            <td>{{ cargoTemporal.estandares }}</td>
            <td>
                <a href="editarCiclismo/{{cargoTemporal.id}}" class="btn btn-outline-warning">
                    <i class ="fa fa-pen"> </i>
                </a>
                <a href="#"
                onclick = "eliminarCiclismo('{{cargoTemporal.id }}');"

                class="btn btn-outline-danger">
                    <i class ="fa fa-trash"> </i>
                </a>
            </td>
        </tr>
 
        {% endfor %}
    </tbody>
</table>

{% endblock %}

<br><br><br><br><br><br> 
