{% extends './plantilla.html' %} 
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Creación</h1>
        <form action="/procesarEdicionCreacion/{{ creacionEditar.id }}" method="post">
            {% csrf_token %}
            <label>Descripción:</label>
            <input class="form-control" type="text" name="descripcion" value="{{ creacionEditar.descripcion }}">

            <label>Fecha de Creación:</label>
            <input class="form-control" type="date" name="fecha_creacion" value="{{ creacionEditar.fecha_creacion|date:'Y-m-d' }}">

            <label>Técnico:</label>
            <select class="form-control" name="tecnico_id">
                {% for tecnico in tecnicos %}
                    <option value="{{ tecnico.empleado.id }}" {% if tecnico.empleado.id == creacionEditar.tecnico.empleado.id %}selected{% endif %}>
                        {{ tecnico.empleado.nombre }} {{ tecnico.empleado.apellido }}
                    </option>
                {% endfor %}
            </select>

            <label>Productora:</label>
            <select class="form-control" name="productora_id">
                {% for productora in productoras %}
                    <option value="{{ productora.id }}" {% if productora.id == creacionEditar.productora.id %}selected{% endif %}>
                        {{ productora.nombre }}
                    </option>
                {% endfor %}
            </select>

            <button class="btn btn-warning mt-3" type="submit">Editar</button>
            <a class="btn btn-outline-danger mt-3" href="/creacion">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
