{% extends './plantilla.html' %} 
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Técnico</h1>
        <form action="/procesarEdicionTecnico/{{ tecnicoEditar.empleado.id }}" method="post">
            {% csrf_token %}
            <label>Nombre:</label>
            <input class="form-control" type="text" value="{{ tecnicoEditar.empleado.nombre }}" disabled>

            <label>Apellido:</label>
            <input class="form-control" type="text" value="{{ tecnicoEditar.empleado.apellido }}" disabled>

            <label>Especialidad:</label>
            <input class="form-control" type="text" name="especialidad" value="{{ tecnicoEditar.especialidad }}">

            <button class="btn btn-warning mt-3" type="submit">Editar</button>
            <a class="btn btn-outline-danger mt-3" href="/tecnico">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
