{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Técnicos</h1>
<a href="/nuevoTecnico" class="btn btn-primary">Agregar técnico</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Especialidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <script>
            function eliminarTecnico(id){
                Swal.fire({
                    title: "CONFIRMACIÓN",
                    text: "¿Eliminar técnico?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Sí, eliminar"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href="/eliminarTecnico/"+id
                    }
                });com
            }
        </script>
        {% for tecnico in tecnicos %}
        <tr>
            <td>{{ tecnico.id }}</td>
            <td>{{ tecnico.empleado.nombre }} {{ tecnico.empleado.apellido }}</td>
            <td>{{ tecnico.especialidad }}</td>
            <td>
                <a href="/editarTecnico/{{tecnico.empleado.id}}" class="btn btn-outline-warning"><i class="fa fa-pen"></i></a>
                <a href="#" onclick="eliminarTecnico('{{tecnico.empleado.id}}');" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
